#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

#recipe-btn{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100px;
}

#thumbnail-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#thumbnail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20em;
    margin-bottom: 20px;
}

#display-container{
  padding-left: 20%;
  padding-right: 20%;
}

#video-container{
    text-align: center;
    padding: 30px;
}